//color
$bg-menu: #eaf1f4;
$color-black:#000000;
$color-light-back: #838383;
$color-menu-big: #dde6e9;
$color-menu-small:#333333;
$bg-hea-intro: #ffffff;
$color-text: #333333;
$color-topic: #6595a6;
$bg-topic: #dae4e9;
$color-green: #00cc99 ;