.section-menu{
    background-color: #eaf1f4; 
}
.section-headquarter{
    background: linear-gradient(to bottom, #5d8fa1 25% , #eaf1f4 25%);
    padding-top: 5rem;
}
.section-topic{
    padding: 8rem 0;
    background: $bg-topic;
}
.section-branches{
    padding: 8rem 0;
    background: $bg-menu;
}

.section-booking{
    background: linear-gradient(to bottom, #ffffff 68% , #5d8fa1 68%);
    padding: 8rem 0 0 0;
}