.booking__head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

.booking__head2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    margin-bottom: 4rem;
    &::after{
        content: "";
        width: 100px;
        height: 1px;
        background-color: black;
        margin-left: 1rem;
    }
    &::before{
        content: "";
        width: 100px;
        height: 1px;
        background-color: black;
        margin-right: 1rem;
    }
}
.booking__note{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #717171;
    margin-bottom: 5.5rem;
}

.booking__booking{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4rem;

    &--online{

        &--h4{
            margin-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
        }
        &--div{
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            & p{
                width: 330px;
                height: 70px;
                background-color: $color-green;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                color: white;
            }
        }
    }

    &--phone{

        &--h4{
            margin-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
        }
        &--hours{
            display: flex;
            align-items: center;
            justify-content: center;

            & img{
                margin-right: 1rem;
            }
            & p{
                font-size: 4.6rem;
                color: $color-green;
            }
        }
        &--worktime{
            font-size: 1.4rem;
        }
    }
}

.booking__img{
    display: flex;
    padding-bottom: 10rem;
    & img{
        display: flex;
        width: calc( 100% / 3);
        vertical-align: bottom;
    }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
    &__left{
        display: flex;
        align-items: center;
        justify-content: center;
        &--img{
            margin-right: 4rem;
        }
        & p{
            color: white;
        }
    }
    &__right{
        color: white;
    }
}